[credential]
	helper = store
[user]
	name = Itsuki54
	email = 5shi.icyu@gmail.com
[push]
	default = current
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	default = current
[ghq]
root = ~/src/

[core]
  	pager = delta
  	excludesFile = /Users/itsuki/.gitignore
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    side-by-side = true
    dark = true
    true-color = always
    features = catppuccin-frappe
    syntax-theme = Sublime Snazzy

