snippets:
  # snippet and keyword abbrev
  - name: git status
    keyword: gs
    snippet: git status --short --branch

  # snippet with placeholder
  - name: git commit message
    keyword: gcim
    snippet: git commit -m '{{commit_message}}'

  - name: "null"
    keyword: "null"
    snippet: ">/dev/null 2>&1"
    # auto expand condition
    # If not defined, it is only valid at the beginning of a line.
    context:
      # buffer: ''
      lbuffer: '.+\s'
      # rbuffer: ''

  - name: branch
    keyword: B
    snippet: git symbolic-ref --short HEAD
    context:
      lbuffer: '^git\s+checkout\s+'
    evaluate: true # eval snippet

completions:
  # simple sourceCommand, no callback
  - name: kill signal
    patterns:
      - "^kill -s $"
    sourceCommand: "kill -l | tr ' ' '\\n'"
    options:
      --prompt: "'Kill Signal> '"

  # use excludePatterns and callback
  - name: kill pid
    patterns:
      - "^kill( .*)? $"
    excludePatterns:
      # -l, -n or -s is followed by SIGNAL instead of PID
      - " -[lns] $"
    sourceCommand: "LANG=C ps -ef | sed 1d"
    options:
      --multi: true
      --prompt: "'Kill Process> '"
    callback: "awk '{print $2}'"

  # Use null (\0) termination Input / Output
  - name: chdir
    patterns:
      - "^cd $"
    sourceCommand: "find . -path '*/.git' -prune -o -maxdepth 5 -type d -print0"
    options:
      --read0: true
      --prompt: "'Chdir> '"
      --preview: "cd {} && ls -a | sed '/^[.]*$/d'"
    callback: "cut -z -c 3-"
    callbackZero: true

  # ls - ディレクトリ選択
  - name: ls
    patterns:
      - "^ls $"
      - "^lsd $"
    sourceCommand: "find . -path '*/.git' -prune -o -maxdepth 5 \\( -type d -o -type f \\) -print0"
    options:
      --read0: true
      --multi: true
      --prompt: "'ls> '"
      --preview: "if [ -d {} ]; then lsd --icon always --git -la {}; else bat --color=always --style=numbers {}; fi"
    callback: "cut -z -c 3-"
    callbackZero: true

  # cat/bat - ファイル選択
  - name: cat
    patterns:
      - "^cat $"
      - "^bat $"
    sourceCommand: "find . -path '*/.git' -prune -o -type f -print0"
    options:
      --read0: true
      --multi: true
      --prompt: "'File> '"
      --preview: "bat --color=always --style=numbers {}"
    callback: "cut -z -c 3-"
    callbackZero: true

  # nvim - ファイル選択
  - name: nvim
    patterns:
      - "^nvim $"
      - "^vim $"
      - "^vi $"
    sourceCommand: "find . -path '*/.git' -prune -o -type f -print0"
    options:
      --read0: true
      --multi: true
      --prompt: "'Edit> '"
      --preview: "bat --color=always --style=numbers --line-range=:100 {}"
    callback: "cut -z -c 3-"
    callbackZero: true
